# **Inequality and Economic Growth**

## **Import Libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.cluster import KMeans

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential, layers

## **Import Dataset**

In [6]:
countries = pd.read_csv("inequality.csv", encoding="latin-1", error_bad_lines=False)

### **Data Engineering**

In [7]:
countries.head()

   Unnamed: 0      country  year  ...  exchangerate  mean_usd  median_usd
0           1  Afghanistan  2008  ...     50.249615       NaN         NaN
1           2      Albania  2012  ...    108.184645    2703.0      2341.0
2           3      Algeria  2012  ...     77.535967    2973.0      2592.0
3           4       Angola  2009  ...     79.328167       NaN         NaN
4           5    Argentina  2017  ...     16.562707       NaN         NaN

[5 rows x 43 columns]

In [8]:
countries['incomegroup'].unique()

array(['Low income', 'Upper middle income', 'Lower middle income',
       'High income'], dtype=object)

In [9]:
label = {
    'Low income':1,
    'Lower middle income':2,
    'Upper middle income':3,
    'High income':4

}

countries['incomegroup'] = countries['incomegroup'].map(label)

In [10]:
countries['eu'].unique()

array(['Non-EU', 'EU'], dtype=object)

In [11]:
europe = countries.loc[countries['eu'] == 'EU']

In [12]:
europe = europe.drop(columns='eu')

In [13]:
countries['region_wb'].unique()

array(['South Asia', 'Europe and Central Asia',
       'Middle East and North Africa', 'Sub-Saharan Africa',
       'Latin America and the Caribbean', 'East Asia and the Pacific',
       'North America'], dtype=object)

In [14]:
colums_1 = ['region_wb','eu']

In [15]:
latin_america = countries.loc[countries['region_wb'] == 'Latin America and the Caribbean']
latin_america = latin_america.drop(columns=colums_1)
latin_america.sort_values('year').groupby('country')

south_asia =  countries.loc[countries['region_wb'] == 'South Asia']
south_asia = south_asia.drop(columns=colums_1)
south_asia.sort_values('year').groupby('country')

middle_east_and_africa = countries.loc[countries['region_wb'] == 'Middle East and North Africa']
middle_east_and_africa = middle_east_and_africa.drop(columns=colums_1)
middle_east_and_africa.sort_values('year').groupby('country')

subsaharian = countries.loc[countries['region_wb'] == 'Sub-Saharan Africa']
subsaharian = subsaharian.drop(columns=colums_1)
subsaharian.sort_values('year').groupby('country')

asia_pacific = countries.loc[countries['region_wb'] == 'East Asia and the Pacific']
asia_pacific = asia_pacific.drop(columns=colums_1)
asia_pacific.sort_values('year').groupby('country')

north_america = countries.loc[countries['region_wb'] == 'North America']
north_america = north_america.drop(columns=colums_1)
north_america.sort_values('year').groupby('country')

europe_central_asia = countries.loc[countries['region_wb'] == 'Europe and Central Asia']

europe_central_asia = europe_central_asia.loc[europe_central_asia['eu'] != 'EU']

europe_central_asia = europe_central_asia.drop(columns=colums_1)

europe_central_asia.sort_values('year').groupby('country')

In [16]:
latin_america.sort_values('year').groupby('country')

In [17]:
latin_america

     Unnamed: 0              country  year  ...  exchangerate  mean_usd  median_usd
4             5            Argentina  2017  ...     16.562707       NaN         NaN
8             9             Barbados  2010  ...      2.000000       NaN         NaN
10           11               Belize  1999  ...      2.000000    3017.0      1791.0
13           14              Bolivia  2017  ...      6.910000       NaN         NaN
16           17               Brazil  2016  ...      3.491313       NaN         NaN
24           25                Chile  2015  ...    654.124084       NaN         NaN
26           27             Colombia  2016  ...   3054.121673       NaN         NaN
30           31           Costa Rica  2017  ...    567.513090       NaN         NaN
33           34   Dominican Republic  2016  ...     46.077980       NaN         NaN
34           35              Ecuador  2016  ...      1.000000       NaN         NaN
36           37          El Salvador  2016  ...      1.000000       NaN         NaN
44           45            Guatemala  2014  ...      7.732233       NaN         NaN
47           48               Guyana  2006  ...    200.188333       NaN         NaN
48           49                Haiti  2012  ...     41.949723    1304.0       637.0
49           50             Honduras  2016  ...     22.835025       NaN         NaN
55           56              Jamaica  2015  ...    116.897590       NaN         NaN
73           74               Mexico  2016  ...     18.664058       NaN         NaN
82           83            Nicaragua  2014  ...     25.958900       NaN         NaN
86           87               Panama  2016  ...      1.000000       NaN         NaN
88           89             Paraguay  2017  ...   5618.933452       NaN         NaN
89           90                 Peru  2016  ...           NaN       NaN         NaN
94           95          Saint Lucia  1995  ...      2.700000    1238.0       912.0
114         115  Trinidad and Tobago  1992  ...      4.250000    3631.0      2807.0
121         122              Uruguay  2016  ...     30.162600       NaN         NaN
123         124            Venezuela  2013  ...      6.047962       NaN         NaN

[25 rows x 41 columns]

In [18]:
pd.DataFrame.to_csv(latin_america, "latinamerica.csv")

In [19]:
pd.DataFrame.to_csv(europe_central_asia, "eurasia.csv")

In [20]:
pd.DataFrame.to_csv(europe, "europe.csv")

In [21]:
pd.DataFrame.to_csv(north_america, "northamerica.csv")

In [22]:
pd.DataFrame.to_csv(asia_pacific, "asia_pacific.csv")

In [23]:
pd.DataFrame.to_csv(middle_east_and_africa, "arab.csv")

In [24]:
pd.DataFrame.to_csv(subsaharian, "subsaharian.csv")